
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  ackground-color: #ededed !important; 
  color: #777 !important;
  font-family: 'HappyTimesattheIKOBRegular' !important;
  font-weight: normal;
  font-style: normal; 
  font-size: 1.25rem !important;
  letter-spacing: 0.05rem !important;
  


}

main {
  padding: 0rem 0rem;
}

@media (min-width: 800px) {
  main {
  padding: 0rem 10rem;
  }
}

@media (min-width: 810px) {
  main {
  padding: 0rem 5rem;
  }
}





.bg-mid-grey{
  background-color:#FFF !important; 

}

.bg-alt-primary {
  background: #eee;
}

.btn-secondary:hover {
  background: #ddd !important;
}

.secondary-brand-color {
  color: rgb(27, 129, 44) !important;
  
}

.secondary-brand-color-border {
 
  border: 1px solid rgb(27, 129, 44) !important;
}

a {
  text-decoration: none !important;
  color: rgb(27, 129, 44) !important;
}

a:hover {
  color: rgb(45, 45, 45) !important;
}

.brandName:hover {
  color: rgb(45, 45, 45) !important;
}


.backToTop > .a {
  text-decoration: none !important;
  color: rgb(27, 129, 44) !important;
}

.ID-top-image {


}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
 
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}




/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* SPLASH CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.splash {
  margin-top: 0rem;
  padding-top: 0rem;
  ackground: red !important;
  eight: 40rem;
}

.splash .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.splash h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.splash .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* NAV BAR CONTENT
-------------------------------------------------- */


.navbar-brand {
  color: #333 !important;
  
}



.nav-link {
  float: right !important;
  text-align: right;
  padding: 0rem 6rem;

}


.splash .btn {
    float: right;

}

.splashSection {
  position: relative;
  padding-top: 1rem;
  
  

}

.carSection {
  position: relative;
  margin-bottom: 2rem;
  top: 0;
  height: 60rem;
  ackground-color: red;
  adding-top: 1rem !important;

}

.pro {
 
  display: block;
  position: relative;
 
  width: 100%;
}

.rightTest {
  float: right !important;
  margin-right: 0rem !important;
  position: absolute !important;
  text-align: right;
 
}

.ratio-9x16{--bs-aspect-ratio:calc(16 / 16 * 100%)}


.videoSec {
  margin: 1rem 0;
  padding: 2rem 0rem;
}

.rose {
  width: 80%;
 
  
  position: relative;
  margin: 7rem 0rem;
}

@media (min-width: 768px) {
  .rose  {
   width: 80%;
   margin: 0rem 0rem;
   
   
  }
}

@media (min-width: 1000px) {
  .rose  {
   width: 90%;
   margin: 6rem 3rem;
   
  }
}

@media (min-width: 1500px) {
  .rose  {
   width: 100%;
   margin: 6rem 2rem;
   
  }
}

@media (min-width: 1800px) {
  .rose  {
   width: 100%;
   margin: 0rem 2rem;
   
  }
}

.poem-1 {
 
  adding: 0rem;
  width: 50%;
  left: 25%;
  position: relative;
  ackground-color: red;
}

.smText-1 {
  font-size: 0.75rem;
}

.brandName {
  font-size: 1.5rem;
}

.twitter {

  width: 1.25rem;
  height: 1.25rem;

background-repeat:no-repeat; 
margin-top: 0.5rem;

  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.6 33"><g id="a"/><g id="b"><g id="c"><path d="M40.6,3.91c-1.49,.66-3.1,1.11-4.78,1.31,1.72-1.03,3.04-2.66,3.66-4.61-1.61,.95-3.39,1.65-5.29,2.02-1.52-1.62-3.68-2.63-6.08-2.63-4.6,0-8.33,3.73-8.33,8.33,0,.65,.08,1.28,.21,1.9C13.07,9.88,6.94,6.56,2.83,1.52c-.72,1.23-1.13,2.66-1.13,4.19,0,2.89,1.47,5.44,3.71,6.93-1.37-.04-2.65-.42-3.77-1.04v.11c0,4.04,2.87,7.4,6.68,8.17-.7,.19-1.44,.29-2.19,.29-.54,0-1.06-.05-1.57-.15,1.06,3.31,4.14,5.72,7.78,5.78-2.85,2.24-6.44,3.57-10.35,3.57-.67,0-1.34-.04-1.99-.12,3.69,2.37,8.06,3.74,12.77,3.74,15.33,0,23.7-12.69,23.7-23.7,0-.36,0-.72-.03-1.08,1.63-1.18,3.04-2.64,4.15-4.31h0Z" style="fill:rgb(39,111,45);"/></g></g></svg>');
}
  



.twitter:hover {
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.6 33"><g id="a"/><g id="b"><g id="c"><path d="M40.6,3.91c-1.49,.66-3.1,1.11-4.78,1.31,1.72-1.03,3.04-2.66,3.66-4.61-1.61,.95-3.39,1.65-5.29,2.02-1.52-1.62-3.68-2.63-6.08-2.63-4.6,0-8.33,3.73-8.33,8.33,0,.65,.08,1.28,.21,1.9C13.07,9.88,6.94,6.56,2.83,1.52c-.72,1.23-1.13,2.66-1.13,4.19,0,2.89,1.47,5.44,3.71,6.93-1.37-.04-2.65-.42-3.77-1.04v.11c0,4.04,2.87,7.4,6.68,8.17-.7,.19-1.44,.29-2.19,.29-.54,0-1.06-.05-1.57-.15,1.06,3.31,4.14,5.72,7.78,5.78-2.85,2.24-6.44,3.57-10.35,3.57-.67,0-1.34-.04-1.99-.12,3.69,2.37,8.06,3.74,12.77,3.74,15.33,0,23.7-12.69,23.7-23.7,0-.36,0-.72-.03-1.08,1.63-1.18,3.04-2.64,4.15-4.31h0Z" style="fill:rgb(45,45,45);"/></g></g></svg>');
}
  

.insta {

  width: 1.5rem;
  height: 1.5rem;
  background-repeat:no-repeat; 
  margin-top: 0.25rem;

  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.41 40.39"><g id="a"/><g id="b"><g id="c"><g><path d="M40.41,10.06V30.41c0,.11-.02,.21-.02,.32,0,.52-.04,1.04-.1,1.56-.07,.58-.17,1.16-.33,1.73-.78,2.77-2.88,4.94-5.62,5.81-.97,.31-1.97,.44-2.98,.5-.26,.02-.53,.03-.79,.04-.04,0-.07,.01-.11,.02H10.34s-.09-.03-.14-.03c-.23-.01-.45-.03-.68-.03-.46-.01-.91-.05-1.37-.1-.51-.06-1.02-.14-1.52-.27-2.77-.7-4.97-2.69-5.94-5.36-.32-.89-.48-1.81-.56-2.74-.04-.48-.07-.97-.08-1.45,0-.19,0-.39-.05-.58V10.54c.01-.08,.03-.16,.04-.24,0-.1,.01-.2,.01-.31,0-.58,.04-1.16,.1-1.74,.06-.57,.15-1.14,.3-1.7,.51-1.94,1.56-3.52,3.16-4.72C4.8,.94,6.14,.43,7.6,.2c.79-.12,1.59-.17,2.4-.19,.6-.01,1.21-.01,1.81-.01C17.42,0,23.04,0,28.65,0c.83,0,1.67,0,2.5,.04,.4,.02,.79,.05,1.19,.1,.58,.07,1.16,.17,1.73,.33,2.74,.77,4.9,2.84,5.78,5.55,.35,1.06,.48,2.15,.53,3.26,.01,.26,0,.53,.03,.79Zm-5.38,10.14h0c0-.45,0-.89,0-1.34,0-1.49,0-2.97-.07-4.46-.03-.55-.06-1.11-.13-1.66-.09-.67-.24-1.32-.46-1.96-.35-1-.86-1.9-1.59-2.68-.75-.81-1.62-1.44-2.65-1.86-1.06-.44-2.17-.66-3.31-.74-.27-.02-.55-.03-.82-.04-.4-.02-.8-.04-1.19-.05-.99-.02-1.98-.03-2.97-.03-1.69,0-3.38,0-5.07,.02-.43,0-.85,0-1.28,.02-.39,.01-.77,.04-1.16,.05-.6,.02-1.19,.07-1.78,.16-.71,.11-1.4,.3-2.07,.56-1.91,.74-3.49,2.35-4.21,4.18-.39,.99-.61,2.02-.69,3.08-.04,.61-.07,1.21-.09,1.82-.02,.56-.03,1.13-.03,1.7,0,1.4,0,2.81,0,4.21,0,1.48,0,2.96,.06,4.44,.02,.52,.04,1.04,.09,1.56,.06,.62,.17,1.23,.33,1.82,.36,1.3,.97,2.47,1.93,3.44,.49,.49,1.02,.93,1.62,1.27,.65,.37,1.35,.64,2.08,.83,.77,.2,1.56,.3,2.36,.35,.47,.03,.94,.05,1.4,.06,.54,.02,1.08,.02,1.61,.03,.44,0,.87,0,1.31,0,2.16,0,4.32,.02,6.48-.03,.49-.01,.99-.04,1.48-.06,.51-.02,1.02-.06,1.53-.13,.59-.08,1.17-.21,1.73-.39,.72-.24,1.42-.55,2.04-.99,1.34-.95,2.29-2.18,2.84-3.73,.34-.96,.51-1.94,.58-2.95,.02-.28,.03-.57,.04-.85,.02-.58,.05-1.15,.05-1.73,.01-1.31,.02-2.62,.02-3.92Z" style="fill:rgb(39,111,45);"/><path d="M20.24,8.05c1.23,0,2.45,0,3.68,0,.59,0,1.18,.03,1.78,.05,.29,0,.58,.02,.87,.04,.68,.05,1.35,.14,2,.35,.25,.08,.49,.17,.72,.28,.97,.42,1.94,1.38,2.37,2.39,.25,.58,.42,1.19,.51,1.81,.08,.52,.11,1.04,.13,1.56,.02,.7,.06,1.41,.06,2.11,0,2.38,0,4.77,0,7.15,0,.75-.04,1.51-.07,2.26-.02,.51-.06,1.02-.15,1.53-.1,.55-.26,1.09-.48,1.6-.43,1.01-1.41,2-2.49,2.45-.56,.23-1.13,.39-1.72,.48-.52,.08-1.04,.11-1.56,.13-.41,.01-.82,.04-1.23,.05-.44,.01-.88,.02-1.32,.02-2.34,0-4.68,0-7.02,0-.53,0-1.05-.03-1.58-.05-.29-.01-.57-.02-.85-.04-.75-.05-1.5-.17-2.21-.42-.55-.2-1.06-.46-1.52-.84-.77-.64-1.3-1.44-1.6-2.39-.14-.43-.23-.87-.29-1.32-.06-.43-.08-.86-.1-1.29-.05-.99-.07-1.98-.07-2.97,0-1.78,0-3.56,0-5.35,0-.45,0-.9,.02-1.36,.01-.59,.04-1.18,.06-1.78,0-.26,.02-.52,.04-.77,.06-.81,.21-1.61,.52-2.37,.43-1.06,1.16-1.87,2.15-2.43,.46-.26,.95-.43,1.46-.55,.41-.1,.83-.17,1.26-.2,.32-.02,.64-.04,.97-.06,1.89-.1,3.79-.06,5.68-.06Zm-.01,19.73c4.28-.01,7.59-3.48,7.6-7.6,0-4.08-3.28-7.59-7.59-7.59-4.28,0-7.59,3.46-7.6,7.59,0,4.17,3.36,7.59,7.59,7.6Zm6.14-15.51c0,.94,.73,1.77,1.76,1.77,1,0,1.77-.79,1.78-1.75,0-1.03-.82-1.78-1.77-1.78-.98,0-1.77,.79-1.77,1.76Z" style="fill:rgb(39,111,45);"/><path d="M15.28,20.19c.02-2.86,2.35-4.94,4.95-4.94,2.68,0,4.94,2.19,4.94,4.94,0,2.71-2.21,4.94-4.94,4.94-2.65,0-4.93-2.13-4.95-4.94Z" style="fill:rgb(39,111,45);"/></g></g></g></svg>');
}
  

.insta:hover {

  width: 1.5rem;
  height: 1.5rem;
  background-repeat:no-repeat; 
  margin-top: 0.25rem;

  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.41 40.39"><g id="a"/><g id="b"><g id="c"><g><path d="M40.41,10.06V30.41c0,.11-.02,.21-.02,.32,0,.52-.04,1.04-.1,1.56-.07,.58-.17,1.16-.33,1.73-.78,2.77-2.88,4.94-5.62,5.81-.97,.31-1.97,.44-2.98,.5-.26,.02-.53,.03-.79,.04-.04,0-.07,.01-.11,.02H10.34s-.09-.03-.14-.03c-.23-.01-.45-.03-.68-.03-.46-.01-.91-.05-1.37-.1-.51-.06-1.02-.14-1.52-.27-2.77-.7-4.97-2.69-5.94-5.36-.32-.89-.48-1.81-.56-2.74-.04-.48-.07-.97-.08-1.45,0-.19,0-.39-.05-.58V10.54c.01-.08,.03-.16,.04-.24,0-.1,.01-.2,.01-.31,0-.58,.04-1.16,.1-1.74,.06-.57,.15-1.14,.3-1.7,.51-1.94,1.56-3.52,3.16-4.72C4.8,.94,6.14,.43,7.6,.2c.79-.12,1.59-.17,2.4-.19,.6-.01,1.21-.01,1.81-.01C17.42,0,23.04,0,28.65,0c.83,0,1.67,0,2.5,.04,.4,.02,.79,.05,1.19,.1,.58,.07,1.16,.17,1.73,.33,2.74,.77,4.9,2.84,5.78,5.55,.35,1.06,.48,2.15,.53,3.26,.01,.26,0,.53,.03,.79Zm-5.38,10.14h0c0-.45,0-.89,0-1.34,0-1.49,0-2.97-.07-4.46-.03-.55-.06-1.11-.13-1.66-.09-.67-.24-1.32-.46-1.96-.35-1-.86-1.9-1.59-2.68-.75-.81-1.62-1.44-2.65-1.86-1.06-.44-2.17-.66-3.31-.74-.27-.02-.55-.03-.82-.04-.4-.02-.8-.04-1.19-.05-.99-.02-1.98-.03-2.97-.03-1.69,0-3.38,0-5.07,.02-.43,0-.85,0-1.28,.02-.39,.01-.77,.04-1.16,.05-.6,.02-1.19,.07-1.78,.16-.71,.11-1.4,.3-2.07,.56-1.91,.74-3.49,2.35-4.21,4.18-.39,.99-.61,2.02-.69,3.08-.04,.61-.07,1.21-.09,1.82-.02,.56-.03,1.13-.03,1.7,0,1.4,0,2.81,0,4.21,0,1.48,0,2.96,.06,4.44,.02,.52,.04,1.04,.09,1.56,.06,.62,.17,1.23,.33,1.82,.36,1.3,.97,2.47,1.93,3.44,.49,.49,1.02,.93,1.62,1.27,.65,.37,1.35,.64,2.08,.83,.77,.2,1.56,.3,2.36,.35,.47,.03,.94,.05,1.4,.06,.54,.02,1.08,.02,1.61,.03,.44,0,.87,0,1.31,0,2.16,0,4.32,.02,6.48-.03,.49-.01,.99-.04,1.48-.06,.51-.02,1.02-.06,1.53-.13,.59-.08,1.17-.21,1.73-.39,.72-.24,1.42-.55,2.04-.99,1.34-.95,2.29-2.18,2.84-3.73,.34-.96,.51-1.94,.58-2.95,.02-.28,.03-.57,.04-.85,.02-.58,.05-1.15,.05-1.73,.01-1.31,.02-2.62,.02-3.92Z" style="fill:rgb(45,45,45);"/><path d="M20.24,8.05c1.23,0,2.45,0,3.68,0,.59,0,1.18,.03,1.78,.05,.29,0,.58,.02,.87,.04,.68,.05,1.35,.14,2,.35,.25,.08,.49,.17,.72,.28,.97,.42,1.94,1.38,2.37,2.39,.25,.58,.42,1.19,.51,1.81,.08,.52,.11,1.04,.13,1.56,.02,.7,.06,1.41,.06,2.11,0,2.38,0,4.77,0,7.15,0,.75-.04,1.51-.07,2.26-.02,.51-.06,1.02-.15,1.53-.1,.55-.26,1.09-.48,1.6-.43,1.01-1.41,2-2.49,2.45-.56,.23-1.13,.39-1.72,.48-.52,.08-1.04,.11-1.56,.13-.41,.01-.82,.04-1.23,.05-.44,.01-.88,.02-1.32,.02-2.34,0-4.68,0-7.02,0-.53,0-1.05-.03-1.58-.05-.29-.01-.57-.02-.85-.04-.75-.05-1.5-.17-2.21-.42-.55-.2-1.06-.46-1.52-.84-.77-.64-1.3-1.44-1.6-2.39-.14-.43-.23-.87-.29-1.32-.06-.43-.08-.86-.1-1.29-.05-.99-.07-1.98-.07-2.97,0-1.78,0-3.56,0-5.35,0-.45,0-.9,.02-1.36,.01-.59,.04-1.18,.06-1.78,0-.26,.02-.52,.04-.77,.06-.81,.21-1.61,.52-2.37,.43-1.06,1.16-1.87,2.15-2.43,.46-.26,.95-.43,1.46-.55,.41-.1,.83-.17,1.26-.2,.32-.02,.64-.04,.97-.06,1.89-.1,3.79-.06,5.68-.06Zm-.01,19.73c4.28-.01,7.59-3.48,7.6-7.6,0-4.08-3.28-7.59-7.59-7.59-4.28,0-7.59,3.46-7.6,7.59,0,4.17,3.36,7.59,7.59,7.6Zm6.14-15.51c0,.94,.73,1.77,1.76,1.77,1,0,1.77-.79,1.78-1.75,0-1.03-.82-1.78-1.77-1.78-.98,0-1.77,.79-1.77,1.76Z" style="fill:rgb(45,45,45);"/><path d="M15.28,20.19c.02-2.86,2.35-4.94,4.95-4.94,2.68,0,4.94,2.19,4.94,4.94,0,2.71-2.21,4.94-4.94,4.94-2.65,0-4.93-2.13-4.95-4.94Z" style="fill:rgb(45,45,45);"/></g></g></g></svg>');
}


.navbar {
  transition: 400ms;

  
}

.navbar2 {
    
    box-shadow: 1px 1px 10px #555;
    padding: 0rem 0rem;

}

@media (min-width: 600px) {
  .navbar2   {
    padding: 3rem 3rem;
  }
}

.videoPad {
  padding-top: 3rem;
}






.bioSec {
 
 padding: 4rem 0rem;
}

.bioHeading {
  padding: 1.25rem;
}

.contactSec {
  eight: 30rem;
}



.roseCover {
  ox-shadow: 1px 1px 30px rgba(6,6,6,0.74);
  width: 20rem;
  max-width: 100px;
  transition: 500ms;
  
}


.roseCover:hover {
  box-shadow: 5px 5px 10px rgba(6,6,6,0.4);
  transform: scale(1.025);
  transition: 500ms;
}

.address {
  font-size: 0.95rem;
  margin-left: 3rem;
}

.review {

  font-size: 0.95rem;
  margin: 0 3rem;
}

.nameQuote {
  text-align: right;
  padding-right: 2rem;
}

.readingText {
  font-size: 1rem;

}

@media (min-width: 300px) {
  .readingText {
    margin: 0rem !important;
    padding: 0rem  !important;
    font-size: 1.1rem;
  }
}

.videoSet90 {
  transform: rotate(90deg);
  
  }

  .videoBW {
    filter: grayscale(1);

  }

  .featurette-heading {
    font-size: 50px;
    margin-top: 05rem;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top:4rem;

  }
}


.secHeading {
  text-align: center;
}

.btnRight {
  float: right !important;
}